body {
  font: 20px, arial, sans-serif;
}
.navbar {
  background-color: #1d1d1d;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffdf3e;
}
.quem-somos {
  background-color: #91969a;
  color: white;
}
.margin {
  padding-bottom: 50px;
  padding-top: 10px;
}
.parceiros {
  background-color: #030203;
  color: white;
}
.bg-footer {
  background-color: #1d1d1d;
  color: white;
}
.nav-link {
  color: #fff;
}
